

#footer {
    background-color: #1C1C1C;
    
    .logo-box{
        display: flex;
        align-items: center;
        padding-top: 65px;
        .images{
            width: 280px;
            height: auto;
        }
        .box-text{
            margin-left: 25px;
            p{
                font-size: 15px;
                color: #d1d3d4;
            }
        }
    }

    .content-footer{
        padding-top: 35px;
        padding-bottom: 50px;
        h4{
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            color: #c5a46d;
            padding-bottom: 32px;
        }

        ul{
            li{
                a{
                    color: #fff;
                    line-height: 35px;
                    transition: .3s ease-out;
                    &:hover{
                        color: #c5a46d;
                    }
                }
                span{
                    color: #fff;
                    line-height: 35px;
                    &.map:before{
                        content:"\f041";
                        font-family: "fontawesome";
                        padding-right: 6px;
                    }

                    &.phone:before{
                        content:"\f095";
                        font-family: "fontawesome";
                        padding-right: 6px;
                    }

                    &.email:before{
                        content:"\f0e0";
                        font-family: "fontawesome";
                        padding-right: 6px;
                    }
                }
            }
        }
    }

    .end-ft{
        border-top: 1px solid #272A2D;
        text-align: center;
        padding: 20px 0px;
        p{
            font-size: 16px;
            color: #808285;
        }
    }

    a.cd-top {
        display: inline-block;
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: #C5A46D url('../images_icon/iconmonstr-arrow-66-16.png') no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        z-index: 999;
    }

    a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    a.cd-top, a.cd-top:visited, a.cd-top:hover {
        color: #CCCCCC;
        text-decoration: none;
    }

    a.cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    a.cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
}
