#header{
    &.has-transparent{
        z-index: 99;
        position: absolute;
        width: 100%;
        top: 0;
        
        @media only screen and (max-width: 768px){
            &{
                position: relative;
                background: #202325;
            }
        }
    }
    .top-bar{
        height: 48px;
        background: #202325e0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #515356;
        @media only screen and (max-width: 768px){
            &{
                display: none;
            }
        }

        &.off-top-bar{
            display: none;
        }

        .container{
            height: 100%;
        }

        .contact{
            height: 100%;
            ul{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                height: 100%;
                li{
                    font-size: 14px;
                    padding-right: 30px; 
                    color: #fff;
                    display: flex;
                    align-items: center;
                    height: 100%;

                    &:first-child{
                        border-right: 1px solid #515356;
                    }

                    &:last-child{
                        padding-left: 17px;
                    }

                    .mail:before{
                        content:"\f0e0";
                        font-family: "fontawesome";
                        font-size: 14px;
                        padding-right: 5px;
                    }

                    .phone:before{
                        content:"\f095";
                        font-family: "fontawesome";
                        font-size: 14px;
                        padding-right: 5px;
                    }
                }
            }
        }

        .address{
            p{
                font-size: 14px;
                color: #fff;
                &:before{
                    content:"\f041";
                    font-family: "fontawesome";
                    padding-right: 5px;
                    font-size: 14px;
                }
            }
        }
    }

    .header-main{
        transition: .3s ease-out;
        &.fixed-main{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 99;
            animation: fade_main 1s forwards;
        }

        @keyframes fade_main {
            0%{
                opacity: 0;
                visibility: hidden;
            }

            100%{
                opacity: 1;
                visibility: visible;
            }
        }
        background: #202325e0;
        .container{
            padding: 5px 0px;
        }

        .mobile-bars{
            display: none;
            @media only screen and (max-width: 768px){
                &{
                    display: block;
                }
            }
            #btn-open-bars{
                border: none;
                outline: none;
                background: none;
                font-size: 26px;
                font-weight: 400 !important;
                color: #fff;
                padding-left: 15px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .logo{
            max-width: 90px;
            height: auto;

            @media only screen and (max-width: 768px){
                &{
                    margin: auto;
                }
            }
        }

        .nav-menu{
            @media only screen and (max-width: 768px){
                &{
                    display: none;
                }
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    margin-right: 38px;
                    &:last-child{
                        margin: unset;
                    }

                    .header-button{
                        padding: 10px 35px;
                        border: none;
                        outline: none;
                        background: #C5A46D;
                        color: #fff;
                        font-size: 14px;
                        text-transform: uppercase;
                        border-radius: 30px;
                    }

                    a{
                        color: #fff;
                        font-size: 16px;
                        transition: .3s ease-out;
                        &:hover{
                            color: #c5a46d;
                        }
                    }
                }
            }
        }
    }
}

.moblie-nav{
   
    background: #202325;
    padding: 80px 15px;
    width: 300px;
    height: 100vh;
    position: fixed;
    left: -100vw;
    top: 0;
    z-index: 9999;
    transition: .3s ease-out;
    &.active-mb{
        left: 0;
    }
    ul{
        display: flex;
        flex-direction: column;
        li{
            margin-right: 38px;
            &:last-child{
                margin: unset;
            }

            .header-button{
                padding: 10px 35px;
                border: none;
                outline: none;
                background: #C5A46D;
                color: #fff;
                font-size: 14px;
                text-transform: uppercase;
                border-radius: 30px;
                margin-top: 10px;
            }

            a{
                color: #fff;
                font-size: 17px;
                line-height: 40px;
            }
        }
    }

    .close-nav-mb{
        position: absolute;
        top: 10px;
        right: 10px;

        button{
            border: none;
            outline: none;
            background: none;
            color: #fff;
            font-size: 20px;
        }
    }
}

.overlay-mb{
    position: fixed;
    z-index: 999;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #20232579;
    display: none;

    &.active{
        display: block;
    }
}