@import "reset";
@import "header";
@import "footer";

.container{
    max-width: 1150px;
}
#wrapper{
    position: relative;
    background-color: #fff;
}

$primary-color: #C5A46D;

@mixin main-button{
    padding: 10px 35px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
}

@mixin fix-title-blog{
    display: -webkit-box;
    height: 57px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin fix-desc-blog{
    display: -webkit-box;
    height: 76px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-title{
    h2{
        font-size: 37px;
        font-weight: 700;
        text-transform: uppercase;
        color: #343A40;
        text-align: center;
        font-family: "Averta Bold";

        span.second-color{
            color: #71441B;
        }
    }

    p{
        font-size: 15px;
        display: block;
        max-width: 680px;
        margin: 25px auto;
        text-align: center;
    }
}

.owl-carousel{
    .item{
        margin-bottom: 10px;
    }

    &.owl-theme .owl-nav [class*=owl-]:hover{
        background: unset;
        color: $primary-color;
    }

    &.owl-theme .owl-dots .owl-dot{
        outline: none;
        margin-top: 30px;
        &.active span{
            background-color: #343A40;
        }
        span{
            margin: 5px 5px;
            background: #FFFFFF;

            &:hover{
                background-color: #343A40;
            }
        }
    }

    &:hover .owl-nav{
        opacity: 1;
        visibility: visible;
    }
    .owl-nav{
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
        margin-top: unset;
        @media only screen and (max-width: 768px){
            &{
                opacity: 1;
                visibility: visible;
            }
        }
        button{
            background-color: none;
            border: none;
            outline: none;
            font-size: 50px;
            z-index: 4;

            &.owl-prev{
                position: absolute;
                top: 50%;
                left: -25px;
                font-size: 50px;
                transform: translateY(-50%);
                @media only screen and (max-width: 768px){
                    &{
                        left: -20px;
                    }
                }
            }

            &.owl-next{
                position: absolute;
                top: 50%;
                right: -25px;
                font-size: 50px;
                transform: translateY(-50%);
                @media only screen and (max-width: 768px){
                    &{
                        right: -20px;
                    }
                }
            }
        }
    }
}


.room-box{
    max-width: 365px;
    @media only screen and (max-width: 768px){
        &{
            max-width: 100%;
        }
    }

    .image-box{
        max-width: 365px;
        height: auto;

        @media only screen and (max-width: 768px){
            &{
                max-width: 100%;
            }
        }
    }

    .box-text{
        padding: 25px;
        background-color: #fff;


        .title{
            display: flex;
            justify-content: space-between;
            h4{
                font-size: 18px;
                font-weight: 600;
            }

            .rating-star{
                span{
                    font-size: 14px;

                    &.checked{
                        color: #FBB040;
                    }
                }
            }
        }

        .price{
            padding-top: 20px;

            p{
                font-size: 16px;
                color: #fe4e37;
            }
        }

        .btn-booking{
            padding-top: 25px;
            a{
                @include main-button();
                background-color: #C5A46D;
            }
        }
    }
}

#home-page{
    .banner{      
        position: relative;
        width: 100%;
        height: 680px;
        z-index: 1;
        overflow: hidden;
        background-image: url('../images/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 768px){
            &{
                height: auto;
            }
        }
        
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            z-index: 2;
            background: #2023259c;
        }
          

        .box-text-banner{
            position: relative;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            @media only screen and (max-width: 768px){
                &{
                    padding: 25px 10px;
                }
            }
            .img{
                max-width: 270px;
                height: auto;
            }

            .btn-booking{
                @include main-button();
                background-color: $primary-color;
                margin-top: 30px;
            }
        }

        
    }

    .search-form-banner{
        background-color: #71441B;
        form{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 37px 0px;
            .select-people{
                width: 220px;
                height: 40px;
                margin-right: 10px;

                @media only screen and (max-width: 768px){
                    &{
                        margin-bottom: 15px;
                    }
                }

                @media only screen and (max-width: 576px){
                    &{
                        width: 100%;
                    }
                }
                select{
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 100%;
                    padding-left: 10px;
                }
            }

            .check-in{
                width: 220px;
                height: 40px;
                margin-right: 10px;
                span{
                    width: 100%;
                    height: 40px;
                    position: relative;
                    display: block;

                   
                    &:after{
                        content:url(../images_icon/celen.png);
                        position: absolute;
                        right: 10px;
                        top: 55%;
                        transform: translateY(-50%);
                    }
                }
                @media only screen and (max-width: 768px){
                    &{
                        margin-bottom: 15px;
                    }
                }

                @media only screen and (max-width: 576px){
                    &{
                        width: 100%;
                    }
                }
                input {
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 100%;
                    -webkit-appearance: none;
                    padding-left: 10px;
                    padding-right: 25px;

                    &::placeholder{
                        color: #000 !important; 
                    }

                    &::-webkit-inner-spin-button {
                        display: none;
                    }

                    &::-webkit-calendar-picker-indicator{
                        background: none;
                        padding: 0;
                    }
                }
            }                
            
            .btn-search-form{
                @include main-button();
                background-color: #F7941E;
                padding: 10px 58px;
                @media only screen and (max-width: 768px){
                    &{
                        width: 35%;
                    }
                }

                @media only screen and (max-width: 576px){
                    &{
                        width: 100%;
                    }
                }
            }
        }
    }

    .introduce{
        position: relative;
        padding: 110px 0px;       
        background-repeat: no-repeat;
        background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
           

        .container{
            z-index: 2;
        }
        .main-title{
            p{
                font-size: 15px;
                display: block;
                max-width: 680px;
                margin: 25px auto;
                text-align: center;
            }
        }

        .content-left{
            h3{
                font-size: 27px;
                font-weight: 700;
            }

            p{
                font-size: 15px;
                padding-top: 40px;
                text-align: justify;
            }

            .ct-left-btn{
                @include main-button();
                display: block;
                margin-top: 20px;
                background-color: $primary-color;

                @media only screen and (max-width: 768px){
                    &{
                        margin: 20px auto;
                    }
                }
            }
        }

        .content-right{
            @media only screen and (max-width: 576px){
                &{
                    margin-top: 25px;
                }
            }
            .box-images{
                .flex-items-img{
                    display: flex;
                    flex-wrap: wrap;
                    @media only screen and (max-width: 768px){
                        &{
                            .sm-img{
                                height: auto !important;
                            }

                            .md-img{
                                height: auto !important;
                            }
                        }
                    }
                    .items-flex{
                        flex: 1;
                        width: 50%;
                        margin-bottom: 15px;
                    }
                    &:first-child{
                        .sm-img{
                            max-width: 194px;
                            height: 194px;
                            overflow: hidden;
                            margin-right: 15px;
                            float: right;
                        }

                        .md-img{
                            max-width: 245px;
                            height: 245px;
                            overflow: hidden;
                        }

                        .items-flex:first-child{
                            align-self: flex-end;
                            
                        }
                    }

                    &:last-child{
                        .items-flex:first-child{
                            align-self: flex-start;                           
                        }
                        .sm-img{
                            float: right;
                            max-width: 130px;
                            height: 130px;
                            overflow: hidden;
                            margin-right: 15px;
                            flex: 1;
                        }

                        .md-img{
                            max-width: 180px;
                            height: 180px;
                            overflow: hidden;
                            flex: 1;
                        }
                    }
                }
            }
        }
    }

    .type-of-room{
        padding: 100px 0px;
        background-color: #F8F9FA;
        
        .owl-carousel{
            margin-top: 60px;
            .item{
                -webkit-box-shadow: 0px 0px 15px 4px rgba(244, 245, 246, 0.95); 
                box-shadow: 0px 0px 15px 4px rgba(244, 245, 246, 0.95);
            }
        }
        .main-title{
            p{
                font-size: 15px;
                display: block;
                max-width: 680px;
                margin: 25px auto;
                text-align: center;
            }
        }
    }

    .summer-time{
        position: relative;
        width: 100%;
        height: 600px;
        z-index: 1;
        overflow: hidden;
        background-image: url('../images/bg2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 768px){
            &{
                height: auto;
            }
        }
        
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            z-index: 2;
            background: #2023258f;
        }
        

        .box-text-banner{
            position: relative;
            z-index: 3;
            text-align: center;
            @media only screen and (max-width: 768px){
                &{
                    padding: 20px 0px;
                }
            }

            .text{
                h3{
                    font-size: 37px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #fff;
                    font-family: "Averta Bold";
                    @media only screen and (max-width: 768px){
                        &{
                            font-size: 27px;
                        }
                    }
                }

                p{
                    padding-top: 30px;
                    font-size: 50px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #fff;
                    @media only screen and (max-width: 768px){
                        &{
                            font-size: 20px;
                        }
                    }
                }
            }

            .btn-booking{
                @include main-button();
                background-color: $primary-color;
                margin-top: 30px;
            }
        }
    }

    .service{
        padding-top: 100px;
        .main-title{
            padding-bottom: 60px;
        }
        .gutters-box{
            position: relative;
            .images-box{
                position: relative;
                width: auto;
                height: 235px;
                z-index: 1;
                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: #2023256e;
                    z-index: 2;
                }
            }

            .box-text{
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: 3;
                padding: 0px 60px;

                h4{
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                    line-height: 58px;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }

        .client-rating{
            position: relative;
            width: 100%;
            height: 630px;
            background-image: url(../images/bg3.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 86px 0px;

            .overlay{
                position: absolute;
                background-color: rgba(197, 165, 109, 0.808);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }

            @media only screen and (max-width: 768px){
                &{
                    height: auto;
                }
            }

            .main-title{
                position: relative;
                z-index: 2;
                h2{
                    color: #fff;
                    @media only screen and (max-width: 768px){
                        &{
                            padding: 0px 40px;
                        }
                    }
                }

                p{
                    color: #fff;
                }
            }

            .slide-rating{
                position: relative;
                z-index: 2;

                .owl-carousel{
                    .item{
                        box-shadow: unset;
                    }
                }

                .client-feed-back-box{
                    display: flex;
                    padding: 30px;
                    background-color: #fff;
                    border-radius: 45px 0px;

                    .images-box{
                        width: 100px;
                        height: 100px;
                        overflow: hidden;
                        border-radius: 50%;
                        flex: 1;

                        @media only screen and (max-width: 576px){
                            &{
                                flex: 2;
                            }
                        }
                    }

                    .box-text{
                        flex: 4;
                        margin-left: 25px;
                        background-image: url(../images_icon/ic1.png);
                        background-repeat: no-repeat;
                        background-size: 45px 40px;
                        background-position: bottom right;

                        .feed-back{
                            p{
                                font-size: 15px;
                                color: #6d6e71;
                            }
                        }

                        .client-info{
                            padding-top: 25px;
                            .name{
                                font-size: 18px;
                                font-weight: 500;
                                color: #71441b;
                            }

                            .country{
                                padding-top: 13px;
                                font-size: 15px;
                                font-weight: 500;
                                color: #414042;
                            }
                        }
                    }
                }
            }
        }
    }

    .blog{
        padding: 100px 0px;
        background-color: #F8F9FA;

        .owl-carousel{
            .item{
                -webkit-box-shadow: 0px 0px 15px 4px rgba(244, 245, 246, 0.95); 
                box-shadow: 0px 0px 15px 4px rgba(244, 245, 246, 0.95);
            }
        }
        .blog-box{
            max-width: 365px;
            @media only screen and (max-width: 768px){
                &{
                    max-width: 100%;
                }
            }

            .image-box{
                max-width: 365px;
                height: 212px;
                overflow: hidden;
                @media only screen and (max-width: 768px){
                    &{
                        max-width: 100%;
                    }
                }
            }

            .box-text{
                padding: 20px 20px 30px 20px;
                background: #fff;

                .date{
                    p{
                        font-size: 16px;
                        color: #71441b;
                    }
                }

                .title{
                    @include fix-title-blog();
                    margin-top: 18px;
                    a{
                        font-size: 18px;
                        color: #343a40;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }

                .desc{
                    @include fix-desc-blog();
                    margin-top: 18px;
                    p{
                        font-size: 15px;
                        color: #58595b;
                    }
                }

                .btn-see-more{
                    padding-top: 15px;
                    a{
                        font-size: 16px;
                        color: #71441b;
                    }
                }
            }
        }
    }
}