#footer {
  background-color: #1C1C1C; }
  #footer .logo-box {
    display: flex;
    align-items: center;
    padding-top: 65px; }
    #footer .logo-box .images {
      width: 280px;
      height: auto; }
    #footer .logo-box .box-text {
      margin-left: 25px; }
      #footer .logo-box .box-text p {
        font-size: 15px;
        color: #d1d3d4; }
  #footer .content-footer {
    padding-top: 35px;
    padding-bottom: 50px; }
    #footer .content-footer h4 {
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      color: #c5a46d;
      padding-bottom: 32px; }
    #footer .content-footer ul li a {
      color: #fff;
      line-height: 35px;
      transition: .3s ease-out; }
      #footer .content-footer ul li a:hover {
        color: #c5a46d; }
    #footer .content-footer ul li span {
      color: #fff;
      line-height: 35px; }
      #footer .content-footer ul li span.map:before {
        content: "\f041";
        font-family: "fontawesome";
        padding-right: 6px; }
      #footer .content-footer ul li span.phone:before {
        content: "\f095";
        font-family: "fontawesome";
        padding-right: 6px; }
      #footer .content-footer ul li span.email:before {
        content: "\f0e0";
        font-family: "fontawesome";
        padding-right: 6px; }
  #footer .end-ft {
    border-top: 1px solid #272A2D;
    text-align: center;
    padding: 20px 0px; }
    #footer .end-ft p {
      font-size: 16px;
      color: #808285; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #C5A46D url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999; }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

/*# sourceMappingURL=footer.css.map */
