#header.has-transparent {
  z-index: 99;
  position: absolute;
  width: 100%;
  top: 0; }
  @media only screen and (max-width: 768px) {
    #header.has-transparent {
      position: relative;
      background: #202325; } }
#header .top-bar {
  height: 48px;
  background: #202325e0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #515356; }
  @media only screen and (max-width: 768px) {
    #header .top-bar {
      display: none; } }
  #header .top-bar.off-top-bar {
    display: none; }
  #header .top-bar .container {
    height: 100%; }
  #header .top-bar .contact {
    height: 100%; }
    #header .top-bar .contact ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: 100%; }
      #header .top-bar .contact ul li {
        font-size: 14px;
        padding-right: 30px;
        color: #fff;
        display: flex;
        align-items: center;
        height: 100%; }
        #header .top-bar .contact ul li:first-child {
          border-right: 1px solid #515356; }
        #header .top-bar .contact ul li:last-child {
          padding-left: 17px; }
        #header .top-bar .contact ul li .mail:before {
          content: "\f0e0";
          font-family: "fontawesome";
          font-size: 14px;
          padding-right: 5px; }
        #header .top-bar .contact ul li .phone:before {
          content: "\f095";
          font-family: "fontawesome";
          font-size: 14px;
          padding-right: 5px; }
  #header .top-bar .address p {
    font-size: 14px;
    color: #fff; }
    #header .top-bar .address p:before {
      content: "\f041";
      font-family: "fontawesome";
      padding-right: 5px;
      font-size: 14px; }
#header .header-main {
  transition: .3s ease-out;
  background: #202325e0; }
  #header .header-main.fixed-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    animation: fade_main 1s forwards; }
@keyframes fade_main {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
  #header .header-main .container {
    padding: 5px 0px; }
  #header .header-main .mobile-bars {
    display: none; }
    @media only screen and (max-width: 768px) {
      #header .header-main .mobile-bars {
        display: block; } }
    #header .header-main .mobile-bars #btn-open-bars {
      border: none;
      outline: none;
      background: none;
      font-size: 26px;
      font-weight: 400 !important;
      color: #fff;
      padding-left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  #header .header-main .logo {
    max-width: 90px;
    height: auto; }
    @media only screen and (max-width: 768px) {
      #header .header-main .logo {
        margin: auto; } }
  @media only screen and (max-width: 768px) {
    #header .header-main .nav-menu {
      display: none; } }
  #header .header-main .nav-menu ul {
    display: flex;
    align-items: center; }
    #header .header-main .nav-menu ul li {
      margin-right: 38px; }
      #header .header-main .nav-menu ul li:last-child {
        margin: unset; }
      #header .header-main .nav-menu ul li .header-button {
        padding: 10px 35px;
        border: none;
        outline: none;
        background: #C5A46D;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 30px; }
      #header .header-main .nav-menu ul li a {
        color: #fff;
        font-size: 16px;
        transition: .3s ease-out; }
        #header .header-main .nav-menu ul li a:hover {
          color: #c5a46d; }

.moblie-nav {
  background: #202325;
  padding: 80px 15px;
  width: 300px;
  height: 100vh;
  position: fixed;
  left: -100vw;
  top: 0;
  z-index: 9999;
  transition: .3s ease-out; }
  .moblie-nav.active-mb {
    left: 0; }
  .moblie-nav ul {
    display: flex;
    flex-direction: column; }
    .moblie-nav ul li {
      margin-right: 38px; }
      .moblie-nav ul li:last-child {
        margin: unset; }
      .moblie-nav ul li .header-button {
        padding: 10px 35px;
        border: none;
        outline: none;
        background: #C5A46D;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 30px;
        margin-top: 10px; }
      .moblie-nav ul li a {
        color: #fff;
        font-size: 17px;
        line-height: 40px; }
  .moblie-nav .close-nav-mb {
    position: absolute;
    top: 10px;
    right: 10px; }
    .moblie-nav .close-nav-mb button {
      border: none;
      outline: none;
      background: none;
      color: #fff;
      font-size: 20px; }

.overlay-mb {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #20232579;
  display: none; }
  .overlay-mb.active {
    display: block; }

/*# sourceMappingURL=header.css.map */
