html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: 'Averta';
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover; }
  @media only screen and (max-width: 768px) {
    img {
      object-fit: fill; } }

@media only screen and (max-width: 1024px) {
  html {
    overflow-x: hidden; } }
button {
  cursor: pointer; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'Averta';
  src: url("../fonts/font/Averta-Regular.ttf"); }
@font-face {
  font-family: 'Averta Bold';
  src: url("../fonts/font/Averta-Black.ttf"); }
@font-face {
  font-family: 'Averta Semi';
  src: url("../fonts/font/Averta-Semibold.ttf"); }
#header.has-transparent {
  z-index: 99;
  position: absolute;
  width: 100%;
  top: 0; }
  @media only screen and (max-width: 768px) {
    #header.has-transparent {
      position: relative;
      background: #202325; } }
#header .top-bar {
  height: 48px;
  background: #202325e0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #515356; }
  @media only screen and (max-width: 768px) {
    #header .top-bar {
      display: none; } }
  #header .top-bar.off-top-bar {
    display: none; }
  #header .top-bar .container {
    height: 100%; }
  #header .top-bar .contact {
    height: 100%; }
    #header .top-bar .contact ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: 100%; }
      #header .top-bar .contact ul li {
        font-size: 14px;
        padding-right: 30px;
        color: #fff;
        display: flex;
        align-items: center;
        height: 100%; }
        #header .top-bar .contact ul li:first-child {
          border-right: 1px solid #515356; }
        #header .top-bar .contact ul li:last-child {
          padding-left: 17px; }
        #header .top-bar .contact ul li .mail:before {
          content: "\f0e0";
          font-family: "fontawesome";
          font-size: 14px;
          padding-right: 5px; }
        #header .top-bar .contact ul li .phone:before {
          content: "\f095";
          font-family: "fontawesome";
          font-size: 14px;
          padding-right: 5px; }
  #header .top-bar .address p {
    font-size: 14px;
    color: #fff; }
    #header .top-bar .address p:before {
      content: "\f041";
      font-family: "fontawesome";
      padding-right: 5px;
      font-size: 14px; }
#header .header-main {
  transition: .3s ease-out;
  background: #202325e0; }
  #header .header-main.fixed-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    animation: fade_main 1s forwards; }
@keyframes fade_main {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
  #header .header-main .container {
    padding: 5px 0px; }
  #header .header-main .mobile-bars {
    display: none; }
    @media only screen and (max-width: 768px) {
      #header .header-main .mobile-bars {
        display: block; } }
    #header .header-main .mobile-bars #btn-open-bars {
      border: none;
      outline: none;
      background: none;
      font-size: 26px;
      font-weight: 400 !important;
      color: #fff;
      padding-left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  #header .header-main .logo {
    max-width: 90px;
    height: auto; }
    @media only screen and (max-width: 768px) {
      #header .header-main .logo {
        margin: auto; } }
  @media only screen and (max-width: 768px) {
    #header .header-main .nav-menu {
      display: none; } }
  #header .header-main .nav-menu ul {
    display: flex;
    align-items: center; }
    #header .header-main .nav-menu ul li {
      margin-right: 38px; }
      #header .header-main .nav-menu ul li:last-child {
        margin: unset; }
      #header .header-main .nav-menu ul li .header-button {
        padding: 10px 35px;
        border: none;
        outline: none;
        background: #C5A46D;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 30px; }
      #header .header-main .nav-menu ul li a {
        color: #fff;
        font-size: 16px;
        transition: .3s ease-out; }
        #header .header-main .nav-menu ul li a:hover {
          color: #c5a46d; }

.moblie-nav {
  background: #202325;
  padding: 80px 15px;
  width: 300px;
  height: 100vh;
  position: fixed;
  left: -100vw;
  top: 0;
  z-index: 9999;
  transition: .3s ease-out; }
  .moblie-nav.active-mb {
    left: 0; }
  .moblie-nav ul {
    display: flex;
    flex-direction: column; }
    .moblie-nav ul li {
      margin-right: 38px; }
      .moblie-nav ul li:last-child {
        margin: unset; }
      .moblie-nav ul li .header-button {
        padding: 10px 35px;
        border: none;
        outline: none;
        background: #C5A46D;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 30px;
        margin-top: 10px; }
      .moblie-nav ul li a {
        color: #fff;
        font-size: 17px;
        line-height: 40px; }
  .moblie-nav .close-nav-mb {
    position: absolute;
    top: 10px;
    right: 10px; }
    .moblie-nav .close-nav-mb button {
      border: none;
      outline: none;
      background: none;
      color: #fff;
      font-size: 20px; }

.overlay-mb {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #20232579;
  display: none; }
  .overlay-mb.active {
    display: block; }

#footer {
  background-color: #1C1C1C; }
  #footer .logo-box {
    display: flex;
    align-items: center;
    padding-top: 65px; }
    #footer .logo-box .images {
      width: 280px;
      height: auto; }
    #footer .logo-box .box-text {
      margin-left: 25px; }
      #footer .logo-box .box-text p {
        font-size: 15px;
        color: #d1d3d4; }
  #footer .content-footer {
    padding-top: 35px;
    padding-bottom: 50px; }
    #footer .content-footer h4 {
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      color: #c5a46d;
      padding-bottom: 32px; }
    #footer .content-footer ul li a {
      color: #fff;
      line-height: 35px;
      transition: .3s ease-out; }
      #footer .content-footer ul li a:hover {
        color: #c5a46d; }
    #footer .content-footer ul li span {
      color: #fff;
      line-height: 35px; }
      #footer .content-footer ul li span.map:before {
        content: "\f041";
        font-family: "fontawesome";
        padding-right: 6px; }
      #footer .content-footer ul li span.phone:before {
        content: "\f095";
        font-family: "fontawesome";
        padding-right: 6px; }
      #footer .content-footer ul li span.email:before {
        content: "\f0e0";
        font-family: "fontawesome";
        padding-right: 6px; }
  #footer .end-ft {
    border-top: 1px solid #272A2D;
    text-align: center;
    padding: 20px 0px; }
    #footer .end-ft p {
      font-size: 16px;
      color: #808285; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #C5A46D url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999; }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

.container {
  max-width: 1150px; }

#wrapper {
  position: relative;
  background-color: #fff; }

.main-title h2 {
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
  color: #343A40;
  text-align: center;
  font-family: "Averta Bold"; }
  .main-title h2 span.second-color {
    color: #71441B; }
.main-title p {
  font-size: 15px;
  display: block;
  max-width: 680px;
  margin: 25px auto;
  text-align: center; }

.owl-carousel .item {
  margin-bottom: 10px; }
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
  color: #C5A46D; }
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
  margin-top: 30px; }
  .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background-color: #343A40; }
  .owl-carousel.owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px;
    background: #FFFFFF; }
    .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
      background-color: #343A40; }
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible; }
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset; }
  @media only screen and (max-width: 768px) {
    .owl-carousel .owl-nav {
      opacity: 1;
      visibility: visible; } }
  .owl-carousel .owl-nav button {
    background-color: none;
    border: none;
    outline: none;
    font-size: 50px;
    z-index: 4; }
    .owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      top: 50%;
      left: -25px;
      font-size: 50px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 768px) {
        .owl-carousel .owl-nav button.owl-prev {
          left: -20px; } }
    .owl-carousel .owl-nav button.owl-next {
      position: absolute;
      top: 50%;
      right: -25px;
      font-size: 50px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 768px) {
        .owl-carousel .owl-nav button.owl-next {
          right: -20px; } }

.room-box {
  max-width: 365px; }
  @media only screen and (max-width: 768px) {
    .room-box {
      max-width: 100%; } }
  .room-box .image-box {
    max-width: 365px;
    height: auto; }
    @media only screen and (max-width: 768px) {
      .room-box .image-box {
        max-width: 100%; } }
  .room-box .box-text {
    padding: 25px;
    background-color: #fff; }
    .room-box .box-text .title {
      display: flex;
      justify-content: space-between; }
      .room-box .box-text .title h4 {
        font-size: 18px;
        font-weight: 600; }
      .room-box .box-text .title .rating-star span {
        font-size: 14px; }
        .room-box .box-text .title .rating-star span.checked {
          color: #FBB040; }
    .room-box .box-text .price {
      padding-top: 20px; }
      .room-box .box-text .price p {
        font-size: 16px;
        color: #fe4e37; }
    .room-box .box-text .btn-booking {
      padding-top: 25px; }
      .room-box .box-text .btn-booking a {
        padding: 10px 35px;
        border: none;
        outline: none;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 30px;
        background-color: #C5A46D; }

#home-page .banner {
  position: relative;
  width: 100%;
  height: 680px;
  z-index: 1;
  overflow: hidden;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    #home-page .banner {
      height: auto; } }
  #home-page .banner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    background: #2023259c; }
  #home-page .banner .box-text-banner {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      #home-page .banner .box-text-banner {
        padding: 25px 10px; } }
    #home-page .banner .box-text-banner .img {
      max-width: 270px;
      height: auto; }
    #home-page .banner .box-text-banner .btn-booking {
      padding: 10px 35px;
      border: none;
      outline: none;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 30px;
      background-color: #C5A46D;
      margin-top: 30px; }
#home-page .search-form-banner {
  background-color: #71441B; }
  #home-page .search-form-banner form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 37px 0px; }
    #home-page .search-form-banner form .select-people {
      width: 220px;
      height: 40px;
      margin-right: 10px; }
      @media only screen and (max-width: 768px) {
        #home-page .search-form-banner form .select-people {
          margin-bottom: 15px; } }
      @media only screen and (max-width: 576px) {
        #home-page .search-form-banner form .select-people {
          width: 100%; } }
      #home-page .search-form-banner form .select-people select {
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        padding-left: 10px; }
    #home-page .search-form-banner form .check-in {
      width: 220px;
      height: 40px;
      margin-right: 10px; }
      #home-page .search-form-banner form .check-in span {
        width: 100%;
        height: 40px;
        position: relative;
        display: block; }
        #home-page .search-form-banner form .check-in span:after {
          content: url(../images_icon/celen.png);
          position: absolute;
          right: 10px;
          top: 55%;
          transform: translateY(-50%); }
      @media only screen and (max-width: 768px) {
        #home-page .search-form-banner form .check-in {
          margin-bottom: 15px; } }
      @media only screen and (max-width: 576px) {
        #home-page .search-form-banner form .check-in {
          width: 100%; } }
      #home-page .search-form-banner form .check-in input {
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        padding-left: 10px;
        padding-right: 25px; }
        #home-page .search-form-banner form .check-in input::placeholder {
          color: #000 !important; }
        #home-page .search-form-banner form .check-in input::-webkit-inner-spin-button {
          display: none; }
        #home-page .search-form-banner form .check-in input::-webkit-calendar-picker-indicator {
          background: none;
          padding: 0; }
    #home-page .search-form-banner form .btn-search-form {
      padding: 10px 35px;
      border: none;
      outline: none;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 30px;
      background-color: #F7941E;
      padding: 10px 58px; }
      @media only screen and (max-width: 768px) {
        #home-page .search-form-banner form .btn-search-form {
          width: 35%; } }
      @media only screen and (max-width: 576px) {
        #home-page .search-form-banner form .btn-search-form {
          width: 100%; } }
#home-page .introduce {
  position: relative;
  padding: 110px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover; }
  #home-page .introduce .container {
    z-index: 2; }
  #home-page .introduce .main-title p {
    font-size: 15px;
    display: block;
    max-width: 680px;
    margin: 25px auto;
    text-align: center; }
  #home-page .introduce .content-left h3 {
    font-size: 27px;
    font-weight: 700; }
  #home-page .introduce .content-left p {
    font-size: 15px;
    padding-top: 40px;
    text-align: justify; }
  #home-page .introduce .content-left .ct-left-btn {
    padding: 10px 35px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    display: block;
    margin-top: 20px;
    background-color: #C5A46D; }
    @media only screen and (max-width: 768px) {
      #home-page .introduce .content-left .ct-left-btn {
        margin: 20px auto; } }
  @media only screen and (max-width: 576px) {
    #home-page .introduce .content-right {
      margin-top: 25px; } }
  #home-page .introduce .content-right .box-images .flex-items-img {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      #home-page .introduce .content-right .box-images .flex-items-img .sm-img {
        height: auto !important; }
      #home-page .introduce .content-right .box-images .flex-items-img .md-img {
        height: auto !important; } }
    #home-page .introduce .content-right .box-images .flex-items-img .items-flex {
      flex: 1;
      width: 50%;
      margin-bottom: 15px; }
    #home-page .introduce .content-right .box-images .flex-items-img:first-child .sm-img {
      max-width: 194px;
      height: 194px;
      overflow: hidden;
      margin-right: 15px;
      float: right; }
    #home-page .introduce .content-right .box-images .flex-items-img:first-child .md-img {
      max-width: 245px;
      height: 245px;
      overflow: hidden; }
    #home-page .introduce .content-right .box-images .flex-items-img:first-child .items-flex:first-child {
      align-self: flex-end; }
    #home-page .introduce .content-right .box-images .flex-items-img:last-child .items-flex:first-child {
      align-self: flex-start; }
    #home-page .introduce .content-right .box-images .flex-items-img:last-child .sm-img {
      float: right;
      max-width: 130px;
      height: 130px;
      overflow: hidden;
      margin-right: 15px;
      flex: 1; }
    #home-page .introduce .content-right .box-images .flex-items-img:last-child .md-img {
      max-width: 180px;
      height: 180px;
      overflow: hidden;
      flex: 1; }
#home-page .type-of-room {
  padding: 100px 0px;
  background-color: #F8F9FA; }
  #home-page .type-of-room .owl-carousel {
    margin-top: 60px; }
    #home-page .type-of-room .owl-carousel .item {
      -webkit-box-shadow: 0px 0px 15px 4px rgba(244, 245, 246, 0.95);
      box-shadow: 0px 0px 15px 4px rgba(244, 245, 246, 0.95); }
  #home-page .type-of-room .main-title p {
    font-size: 15px;
    display: block;
    max-width: 680px;
    margin: 25px auto;
    text-align: center; }
#home-page .summer-time {
  position: relative;
  width: 100%;
  height: 600px;
  z-index: 1;
  overflow: hidden;
  background-image: url("../images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    #home-page .summer-time {
      height: auto; } }
  #home-page .summer-time .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    background: #2023258f; }
  #home-page .summer-time .box-text-banner {
    position: relative;
    z-index: 3;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      #home-page .summer-time .box-text-banner {
        padding: 20px 0px; } }
    #home-page .summer-time .box-text-banner .text h3 {
      font-size: 37px;
      font-weight: 400;
      text-transform: uppercase;
      color: #fff;
      font-family: "Averta Bold"; }
      @media only screen and (max-width: 768px) {
        #home-page .summer-time .box-text-banner .text h3 {
          font-size: 27px; } }
    #home-page .summer-time .box-text-banner .text p {
      padding-top: 30px;
      font-size: 50px;
      font-weight: 400;
      text-transform: uppercase;
      color: #fff; }
      @media only screen and (max-width: 768px) {
        #home-page .summer-time .box-text-banner .text p {
          font-size: 20px; } }
    #home-page .summer-time .box-text-banner .btn-booking {
      padding: 10px 35px;
      border: none;
      outline: none;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 30px;
      background-color: #C5A46D;
      margin-top: 30px; }
#home-page .service {
  padding-top: 100px; }
  #home-page .service .main-title {
    padding-bottom: 60px; }
  #home-page .service .gutters-box {
    position: relative; }
    #home-page .service .gutters-box .images-box {
      position: relative;
      width: auto;
      height: 235px;
      z-index: 1; }
      #home-page .service .gutters-box .images-box .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #2023256e;
        z-index: 2; }
    #home-page .service .gutters-box .box-text {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 3;
      padding: 0px 60px; }
      #home-page .service .gutters-box .box-text h4 {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        line-height: 58px; }
      #home-page .service .gutters-box .box-text p {
        font-size: 14px;
        font-weight: 400;
        color: #fff; }
  #home-page .service .client-rating {
    position: relative;
    width: 100%;
    height: 630px;
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 86px 0px; }
    #home-page .service .client-rating .overlay {
      position: absolute;
      background-color: rgba(197, 165, 109, 0.808);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1; }
    @media only screen and (max-width: 768px) {
      #home-page .service .client-rating {
        height: auto; } }
    #home-page .service .client-rating .main-title {
      position: relative;
      z-index: 2; }
      #home-page .service .client-rating .main-title h2 {
        color: #fff; }
        @media only screen and (max-width: 768px) {
          #home-page .service .client-rating .main-title h2 {
            padding: 0px 40px; } }
      #home-page .service .client-rating .main-title p {
        color: #fff; }
    #home-page .service .client-rating .slide-rating {
      position: relative;
      z-index: 2; }
      #home-page .service .client-rating .slide-rating .owl-carousel .item {
        box-shadow: unset; }
      #home-page .service .client-rating .slide-rating .client-feed-back-box {
        display: flex;
        padding: 30px;
        background-color: #fff;
        border-radius: 45px 0px; }
        #home-page .service .client-rating .slide-rating .client-feed-back-box .images-box {
          width: 100px;
          height: 100px;
          overflow: hidden;
          border-radius: 50%;
          flex: 1; }
          @media only screen and (max-width: 576px) {
            #home-page .service .client-rating .slide-rating .client-feed-back-box .images-box {
              flex: 2; } }
        #home-page .service .client-rating .slide-rating .client-feed-back-box .box-text {
          flex: 4;
          margin-left: 25px;
          background-image: url(../images_icon/ic1.png);
          background-repeat: no-repeat;
          background-size: 45px 40px;
          background-position: bottom right; }
          #home-page .service .client-rating .slide-rating .client-feed-back-box .box-text .feed-back p {
            font-size: 15px;
            color: #6d6e71; }
          #home-page .service .client-rating .slide-rating .client-feed-back-box .box-text .client-info {
            padding-top: 25px; }
            #home-page .service .client-rating .slide-rating .client-feed-back-box .box-text .client-info .name {
              font-size: 18px;
              font-weight: 500;
              color: #71441b; }
            #home-page .service .client-rating .slide-rating .client-feed-back-box .box-text .client-info .country {
              padding-top: 13px;
              font-size: 15px;
              font-weight: 500;
              color: #414042; }
#home-page .blog {
  padding: 100px 0px;
  background-color: #F8F9FA; }
  #home-page .blog .owl-carousel .item {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(244, 245, 246, 0.95);
    box-shadow: 0px 0px 15px 4px rgba(244, 245, 246, 0.95); }
  #home-page .blog .blog-box {
    max-width: 365px; }
    @media only screen and (max-width: 768px) {
      #home-page .blog .blog-box {
        max-width: 100%; } }
    #home-page .blog .blog-box .image-box {
      max-width: 365px;
      height: 212px;
      overflow: hidden; }
      @media only screen and (max-width: 768px) {
        #home-page .blog .blog-box .image-box {
          max-width: 100%; } }
    #home-page .blog .blog-box .box-text {
      padding: 20px 20px 30px 20px;
      background: #fff; }
      #home-page .blog .blog-box .box-text .date p {
        font-size: 16px;
        color: #71441b; }
      #home-page .blog .blog-box .box-text .title {
        display: -webkit-box;
        height: 57px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 18px; }
        #home-page .blog .blog-box .box-text .title a {
          font-size: 18px;
          color: #343a40;
          text-transform: uppercase;
          font-weight: 700; }
      #home-page .blog .blog-box .box-text .desc {
        display: -webkit-box;
        height: 76px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 18px; }
        #home-page .blog .blog-box .box-text .desc p {
          font-size: 15px;
          color: #58595b; }
      #home-page .blog .blog-box .box-text .btn-see-more {
        padding-top: 15px; }
        #home-page .blog .blog-box .box-text .btn-see-more a {
          font-size: 16px;
          color: #71441b; }

/*# sourceMappingURL=style.css.map */
